.layout{
    height: 500px;
    width: 500px;
}
  .header{
      background-color: #EA4335;
      height: 10%;
  }
  .nav{
      height: 10%;
      background-color: #FF5E00;
  }
  .side{
      background-color: #4285F4;
      width: 30%;
      height: 60%;
      float: left;
  }
  .section1{
      background-color: #45a853;
      height: 30%;
  }
  .section2{
      background-color: #FBBC05;
      height: 30%;
  }
  .footer{
      background-color: #8a8d92;
      height: 20%;
  }
